---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}

<h2>2026</h2>


<b>Sri Hrushikesh Varma Bhupathiraju</b>, Tetsu Ishizue, Nicholas Costagliola, Ozora Sako, Kentaro Yoshioka, Takeshi Sugawara, and Sara Rampazzi,
<a href="https://www.sigsac.org/ccs/CCS2026/index.html">Illusion of Depth: Revealing Hidden Stereo Vision Vulnerabilities in Depth Estimation</a>.
In <i>ACM Conference on Computer and Communications Security (CCS)</i>, 2026.


<b>Sri Hrushikesh Varma Bhupathiraju</b>, Shaoyuan Xie, Michael Clifford, Qi Alfred Chen, Takeshi Sugawara, Sara Rampazzi,
<a href="https://sites.google.com/view/thermal-vuln-ad/">The Heat is On: Understanding and Mitigating Vulnerabilities of Thermal Image Perception in Autonomous Systems</a>.
In <i>Network and Distributed System Security Symposium (NDSS)</i>, 2026.




<b>Sri Hrushikesh Varma Bhupathiraju</b>, Takami Sato, Michael Clifford, Takeshi Sugawara, Qi Alfred Chen, and Sara Rampazzi, 
<a href="https://dl.acm.org/doi/pdf/10.1145/3777451">To go or not to go: Shedding light on traffic light signal manipulation and defense strategies</a>. In <i>ACM Transactions on Cyber-Physical Systems</i>, 2026.



Jennifer Sheldon, Yungwoo Ko, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Sara Osmanovic, Weidong Zhu, Md Jahidul Islam, and Sara Rampazzi, 
<a href="https://dl.acm.org/doi/pdf/10.1145/3777451">Repliguard: Policy-driven replica management framework for protecting against acoustic attacks,</a>. In <i>ACM Conference on Secure Development Conference (SecDev)</i>, 2026.


<h2>2025</h2>
<ul>
<li>
Arifu Onishi*, <b>Sri Hrushikesh Varma Bhupathiraju*</b>, Rishikesh Bhatt, Sara Rampazzi, and Takeshi Sugawara,
<a href="https://www.usenix.org/conference/usenixsecurity25">Sound of Interference: Electromagnetic Eavesdropping Attack on Digital Microphones Using Pulse Density Modulation</a>.
In <i>USENIX Security Symposium</i>, 2025. (* denotes co-first)
</li>
</ul>

<ul>
<li>
Daniel Olszewski, Allison Lu, Anna Crowder, Nathaniel Bennett, Seth Layton, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Tyler Tucker, Siddhant Kalgutkar, Hunter Ver Helst, Carson Stillman, Kevin RB Butler, Sara Rampazzi, Patrick Traynor
<a href="https://dl.acm.org/doi/pdf/10.1145/3736731.3746151">Reproducibility in Applied Security Conferences: An 11-Year Review on Artifacts and Evaluation Committees</a>.
In <i>ACM Conference on Reproducibility and Replicability (REP)</i>, 2025, <b>Best Paper Award</b>.

</li>
</ul>




<h2>2024</h2>
<ul>
<li>
Takami Sato*, <b>Sri Hrushikesh Varma Bhupathiraju*</b>, Michael Clifford, Takeshi Sugawara, Qi Alfred Chen, and Sara Rampazzi,
"<a href="https://arxiv.org/abs/2401.03582">Invisible Reflections: Leveraging Infrared Laser Reflections to Target Traffic Sign Perception</a>".
In <i>Network and Distributed System Security Symposium (NDSS)</i>, 2024. (* denotes co-first)
</li>

<li>
Jennifer Sheldon, Weidong Zhu, Adnan Abdullah, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Takeshi Sugawara, Kevin R. B. Butler, Md Jahidul Islam, and Sara Rampazzi,
"<a href="https://www.computer.org/csdl/proceedings-article/sp/2024/313000a254/1WPcZbl9uaQ">AquaSonic: Acoustic Manipulation of Underwater Data Center Operations and Resource Management</a>".
In <i>IEEE Symposium on Security and Privacy (S&P)</i>, 2024.
</li>

<li>
<b>Sri Hrushikesh Varma Bhupathiraju</b>, Takami Sato, Michael Clifford, Takeshi Sugawara, Qi Alfred Chen, and Sara Rampazzi,
"<a href="https://www.ndss-symposium.org/ndss-paper/auto-draft-451/">On the Vulnerability of Traffic Light Recognition Systems to Laser Illumination Attacks</a>".
In <i>ISOC Symposium on Vehicle Security and Privacy (VehicleSec)</i>, 2024.
</li>

<li>
Jingxi Weng, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Thomas Samant, Alex Dresner, Jian Wu, Sanjiv S. Samant,
"<a href="https://pubmed.ncbi.nlm.nih.gov/38518378/">Convolutional LSTM Model for Cine Image Prediction of Abdominal Motion</a>."
In <i>Medical & Biological Engineering & Computing</i>, 2024.
</li>
</ul>

<h2>2023</h2>
<ul>
<li>
<b>Sri Hrushikesh Varma Bhupathiraju</b>, Jennifer Sheldon, Luke A. Bauer, Vincent Bindschaedler, Takeshi Sugawara, and Sara Rampazzi,
"<a href="https://dl.acm.org/doi/abs/10.1145/3558482.3590192">EMI-LiDAR: Uncovering Vulnerabilities of LiDAR Sensors in Autonomous Driving Setting Using Electromagnetic Interference</a>."
In <i>ACM Conference on Security and Privacy in Wireless and Mobile Networks</i>, 2023.
</li>

<li>
Takami Sato*, <b>Sri Hrushikesh Varma Bhupathiraju*</b>, Michael Clifford, Takeshi Sugawara, Qi Alfred Chen, and Sara Rampazzi,
"<a href="https://www.ndss-symposium.org/ndss-paper/auto-draft-361/">WIP: Infrared Laser Reflection Attack Against Traffic Sign Recognition Systems</a>."
In <i>ISOC Symposium on Vehicle Security and Privacy (VehicleSec)</i>, 2023, <b>ETAS Best Short Paper and Qualcomm Demo Award</b>. (* denotes co-first)
</li>

<li>
Yulong Cao, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Pirouz Naghavi, Takeshi Sugawara, Z. Morley Mao, and Sara Rampazzi,
"<a href="https://www.usenix.org/conference/usenixsecurity23/presentation/cao">You Can't See Me: Physical Removal Attacks on LiDAR-based Autonomous Vehicles Driving Frameworks</a>."
In <i>USENIX Security Symposium</i>, 2023.
</li>

<li>
Jingxi Weng, Mohammad Anas, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Thomas Samant, Alex Dresner, Jian Wu, Sanjiv S. Samant,
"<a href="https://aapm.confex.com/aapm/2023am/meetingapp.cgi/Paper/6186">Organ-Specific Abdominal Motion Prediction Using Deep Learning with Cine-MRI</a>."
In <i>American Association of Physicists in Medicine (AAPM)</i>, 2023.
</li>
</ul>
{% endif %}
