---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
<ul>
<li>
<p> <b><a href="https://arxiv.org/abs/2401.03582">[NDSS '24]</a></b> Takami Sato*, <b>Sri Hrushikesh Varma Bhupathiraju*</b>, Michael Clifford, Takeshi Sugawara, Qi Alfred Chen, and Sara Rampazzi, "Invisible Reflections: Leveraging Infrared Laser Reflections to Target Traffic Sign Perception." (* denotes co-first). </p>
</li>
</ul>

<ul>
<li>
<p> <b><a href="https://www.computer.org/csdl/proceedings-article/sp/2024/313000a254/1WPcZbl9uaQ">[IEEE S&P '24]</a></b> Jennifer Sheldon, Weidong Zhu, Adnan Abdullah, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Takeshi Sugawara, Kevin R. B. Butler, Md Jahidul Islam, and Sara Rampazzi. "AquaSonic: Acoustic Manipulation of Underwater Data Center Operations and Resource Management." </p>
</li>
</ul>

<ul>
<li>
<p> <b><a href="https://www.ndss-symposium.org/ndss-paper/auto-draft-451/">[VehicleSec '24]</a></b> <b>Sri Hrushikesh Varma Bhupathiraju</b>, Takami Sato, Michael Clifford, Takeshi Sugawara, Qi Alfred Chen, and Sara Rampazzi. "On the Vulnerability of Traffic Light Recognition Systems to Laser Illumination Attacks." </p>
</li>
</ul>

<ul>
<li>
<p><b><a href="https://pubmed.ncbi.nlm.nih.gov/38518378/">[Med. Biol. '24]</a></b> Jingxi Weng, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Thomas Samant, Alex Dresner, Jian Wu, Sanjiv S Samant. "Convolutional LSTM model for cine image prediction of abdominal motion." </p>
</li>
</ul>

<ul>
<li>
<p><b><a href="https://dl.acm.org/doi/abs/10.1145/3558482.3590192">[ACM WiSec '23]</a></b> <b>Sri Hrushikesh Varma Bhupathiraju</b>, Jennifer Sheldon, Luke A. Bauer, Vincent Bindschaedler, Takeshi Sugawara, and Sara Rampazzi. "EMI-LiDAR: Uncovering Vulnerabilities of LiDAR Sensors in Autonomous Driving Setting Using Electromagnetic Interference."</p>
</li>
</ul>

<ul>
<li>
<p><b><a href="https://www.ndss-symposium.org/ndss-paper/auto-draft-361/">[VehicleSec '23]</a></b> Takami Sato*, <b>Sri Hrushikesh Varma Bhupathiraju*</b>, Michael Clifford, Takeshi Sugawara, Qi Alfred Chen, and Sara Rampazzi. "WIP: Infrared Laser Reflection Attack Against Traffic Sign Recognition Systems.", <b>ETAS Best Short Paper and Qualcomm Demo Award</b>. (* denotes co-first). </p>
</li>
</ul>

<ul>
<li>
<p><b><a href="https://www.usenix.org/conference/usenixsecurity23/presentation/cao">[USENIX '23]</a></b> Yulong Cao, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Pirouz Naghavi, Takeshi Sugawara, Z. Morley Mao and Sara Rampazzi. "You Can't See Me: Physical Removal Attacks on LiDAR-based Autonomous Vehicles Driving Frameworks." </p>
</li>
</ul>

<ul>
<li>
<p><b><a href="https://aapm.confex.com/aapm/2023am/meetingapp.cgi/Paper/6186">[AAPM '23]</a></b> Jingxi Weng, Mohammad Anas, <b>Sri Hrushikesh Varma Bhupathiraju</b>, Thomas Samant, Alex Dresner, Jian Wu, Sanjiv S Samant. "Organ-Specific Abdominal Motion Prediction Using Deep Learning with Cine-MRI." </p>
</li>
</ul>



{% endif %}
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



